<div class="container">
  <div class="row">
    <p class="flash"><%= notice %><%= alert %></p>
    <div class="container-child col-md-3 col-sm-3 hidden-xs">
      <%= render 'layouts/current_user_panel',{user: current_user} %>
    </div>
    <div class="container-child col-md-6 col-sm-9 col-xs-12 ">
      <%= link_to 'New Tweet', new_tweet_path, remote: true %>
      <div class="tweet-index">
        <%=render "tweets/index" %>
      </div>
    </div>
  </div>
</div>

<div id="tweet-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
