<div class="container">
  <div class="row">
    <div class="main-profile-up hidden-lg hidden-md col-sm-6 col-xs-6 pull-left">
      <h2><%= @user.name%></h2>
        <div class="avatar img-thumbnail">
          <%= profile_img(@user) %>
        </div>
          </br>
          <p>投稿数： <%= @user.tweets.count %></p>
          <p>フォロー数： <%= @user.followed_users.count %></p>
          <p>フォロワー数： <%= @user.followers.count %></p>
          <p>お気に入りTweets数： <%= @user.favorite_tweets.count %></p>
          <% unless @user == current_user%>
          <%= render 'follow_form', user: @user %>
          <%end%>
    </div>
    <div class="main-profile col-md-3 hidden-xs hidden-sm pull-left">
      <h2><%= @user.name%>さんの詳細</h2>
        <div class="avatar img-thumbnail">
          <%= profile_img(@user) %>
        </div>
          </br>
          <p>投稿数： <%= @user.tweets.count %></p>
          <p>フォロー数： <%= @user.followed_users.count %></p>
          <p>フォロワー数： <%= @user.followers.count %></p>
          <p>お気に入りTweets数： <%= @user.favorite_tweets.count %></p>
          <% unless @user == current_user%>
          <%= render 'follow_form', user: @user %>
          <%end%>
    </div>
  </div>
</div>


<ul class="nav nav-tabs">
 	<li><a href="#sampleContentA" data-toggle="tab">ツイート</a></li>
 	<li class="active"><a href="#sampleContentB" data-toggle="tab">フォロー</a></li>
 	<li><a href="#sampleContentC" data-toggle="tab">フォロワー</a></li>
 	<li><a href="#sampleContentD" data-toggle="tab">お気に入り</a></li>
 </ul>

 <div class="tab-content">
 	<div class="tab-pane" id="sampleContentA">
 		<p><%= render @user.tweets %></p>
 	</div>
 	<div class="tab-pane active" id="sampleContentB">
 		<%= render @user.followed_users %>
 	</div>
 	<div class="tab-pane" id="sampleContentC">
 		<%= render @user.followers %>
 	</div>
 	<div class="tab-pane" id="sampleContentD">
    <p><%= render @user.favorite_tweets %></p>
 	</div>
 </div>
