<div class="container">
  <div class="row">
    <div class="main-profile-up hidden-lg hidden-md col-sm-6 col-xs-6 pull-left">
      <h2><%= @user.name%></h2>
        <div class="avatar img-thumbnail">
          <%= profile_img(@user) %>
        </div>
          </br>
          <p>投稿数： <%= @user.tweets.count %></p>
          <p>フォロー数： <%= @user.followed_users.count %></p>
          <p>フォロワー数： <%= @user.followers.count %></p>
          <p>お気に入りTweets数： <%= @user.favorite_tweets.count %></p>
          <% unless @user == current_user%>
          <%= render 'follow_form', user: @user %>
          <%end%>
    </div>
    <div class="main-profile col-md-3 hidden-xs hidden-sm pull-left">
      <h2><%= @user.name%>さんの詳細</h2>
        <div class="avatar img-thumbnail">
          <%= profile_img(@user) %>
        </div>
          </br>
          <p>投稿数： <%= @user.tweets.count %></p>
          <p>フォロー数： <%= @user.followed_users.count %></p>
          <p>フォロワー数： <%= @user.followers.count %></p>
          <p>お気に入りTweets数： <%= @user.favorite_tweets.count %></p>
          <% unless @user == current_user%>
          <%= render 'follow_form', user: @user %>
          <%end%>
    </div>
  </div>
</div>

<%= render 'users/tab' %>
<div class="col-md-9 col-sm-10 col-xs-12 pull-right">
  <%= render 'users/tab_content' %>
</div>
