<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10">
      <h2><%= @user.name%>さんの詳細ページ</h2>
          <%= profile_img(@user) %>
          </br>
          <p>投稿数： <%= @user.tweets.count %></p>
          <p>フォロー数： <%= @user.followed_users.count %></p>
          <p>フォロワー数： <%= @user.followers.count %></p>
          <p>お気に入りTweets数： <%= @user.favorite_tweets.count %></p>
          <% unless @user == current_user%>
          <%= render 'follow_form', user: @user %>
          <%end%>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
<<<<<<< HEAD
<<<<<<< HEAD
 	<li><a href="#sampleContentA" data-toggle="tab">ツイート</a></li>
 	<li class="active"><a href="#sampleContentB" data-toggle="tab">フォロー</a></li>
 	<li><a href="#sampleContentC" data-toggle="tab">フォロワー</a></li>
 	<li><a href="#sampleContentD" data-toggle="tab">お気に入り</a></li>
 </ul>

 <div class="tab-content">
 	<div class="tab-pane" id="sampleContentA">
 		<p><%= render @user.tweets %></p>
 	</div>
 	<div class="tab-pane active" id="sampleContentB">
 		<%= render @user.followed_users %>
 	</div>
 	<div class="tab-pane" id="sampleContentC">
 		<%= render @user.followers %>
 	</div>
 	<div class="tab-pane" id="sampleContentD">
    <p><%= render @user.favorite_tweets %></p>
 	</div>
 </div>
=======
	<li><a href="#sampleContentA" data-toggle="tab">ツイート</a></li>
	<li class="active"><a href="#sampleContentB" data-toggle="tab">フォロー</a></li>
	<li><a href="#sampleContentC" data-toggle="tab">フォロワー</a></li>
	<li><a href="#sampleContentD" data-toggle="tab">お気に入り</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane" id="sampleContentA">
		<p>タブＡの内容</p>
	</div>
	<div class="tab-pane active" id="sampleContentB">
		<%= render 'followed_user', user: @user%>
	</div>
	<div class="tab-pane" id="sampleContentC">
		<p>タブＣの内容</p>
	</div>
	<div class="tab-pane" id="sampleContentD">
		<p>タブＤの内容</p>
	</div>
</div>
>>>>>>> efd948b61c14a1ffd51f94e2f46a9df99a08ddc4
=======

 	<li><a href="#sampleContentA" data-toggle="tab">ツイート</a></li>
 	<li class="active"><a href="#sampleContentB" data-toggle="tab">フォロー</a></li>
 	<li><a href="#sampleContentC" data-toggle="tab">フォロワー</a></li>
 	<li><a href="#sampleContentD" data-toggle="tab">お気に入り</a></li>
 </ul>

 <div class="tab-content">
 	<div class="tab-pane" id="sampleContentA">
 		<%= render @user.tweets %>
 	</div>
 	<div class="tab-pane active" id="sampleContentB">
 		<%= render @user.followed_users %>
 	</div>
 	<div class="tab-pane" id="sampleContentC">
 		<%= render @user.followers %>
 	</div>
 	<div class="tab-pane" id="sampleContentD">
    <%= render @user.favorite_tweets %>
 	</div>
 </div>
>>>>>>> 700cb5b99171d86b52d7a115e704e3b98980d0c5
